.App {
  text-align: center;
}

.error {
  padding: 5px;
  margin-bottom: 10px;
  border: 3px solid red;
  background-color: lightgrey;
  border-radius: 5px;
  font: bold 1,5em;
  color: red;
}

.success {
  padding: 5px;
  margin-bottom: 10px;
  border: 3px solid green;
  background-color: lightgrey;
  border-radius: 5px;
  font: bold 1,5em;
  color: green;
  
}


